

<div class = "row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th style = "text-align: center">Country</th>
        <th style = "text-align: center">Value</th>
      </tr>
          <% @hash.each do |k, v| %>
              <tr>
                <td style = "width:120px; text-align: center"><%= k %></td>
                <td style = "width:120px; text-align: center"><%= v[0] %>% (n = <%= v[1] %>)</td>
              </tr>
          <% end %>
      </table>
  </div>
</div>